In [1]:
print("Hello World")

Hello World

In [1]:
import sys
print(sys.version)

3.11.9 (tags/v3.11.9:de54cf5, Apr  2 2024, 10:12:12) [MSC v.1938 64 bit (AMD64)]

In [2]:
if 5>2:
    print("5 is lager than 2")

5 is lager than 2

In [5]:
#Comments
"""
Commentt on more than one line
"""

'\nCommentt on more than one line\n'

In [6]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [7]:
x=5
x="S"
print(x)

S

In [8]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(type(x))

<class 'str'>

In [9]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [10]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [11]:
fruits = ["apple","banana","cherry"]
x,y,z=fruits
print(fruits)
print(x)

['apple', 'banana', 'cherry']
apple

In [12]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [13]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [14]:
x = 5
y = 10
print(x + y)

15

In [15]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [16]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [17]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [18]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [1]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [2]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [3]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [5]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [7]:
import random

print(random.randrange(1, 10))

7

In [9]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [10]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [11]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [12]:
a = "Hello, World!"
print(a[1])

e

In [14]:
for x in "banana":
  print(x)

a = "Hello, World!"
print(len(a))

b
a
n
a
n
a
13

In [15]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [16]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [18]:
b = "Hello, World!"
print(b[2:5])
#Note: The first character has index 0.

llo

In [19]:
b = "Hello, World!"
print(b[:5])

Hello

In [20]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [21]:
a = "Hello, World!"
print(a.upper())

a = "Hello, World!"
print(a.lower())

a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

HELLO, WORLD!
hello, world!
Hello, World!

In [22]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [23]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [24]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [25]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [26]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [27]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [28]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [29]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [31]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [35]:
#'	Single Quote	
#\\	Backslash	
#\n	New Line	
#\r	Carriage Return	
#\t	Tab	
#\b	Backspace	
#\f	Form Feed	
#\ooo	Octal value	
#\xhh	Hex value

In [38]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [39]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [41]:
print(bool("Hello"))
print(bool(15))

x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True
True
True

In [42]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [43]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

In [44]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [45]:
x = 200
print(isinstance(x, int))

True

In [ ]:
# Operators:


# https://www.w3schools.com/python/python_operators.asp

In [46]:
thislist = ["apple", "banana", "cherry"]
#Edit
#testtt
#twttsts
#branch 1
#test branch 2
print(thislist)

['apple', 'banana', 'cherry']